body {
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/IMG_1567.JPG');
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h1 {
  color: #ECECD6;
  margin: 50px;
}

.input-forms {
  display: flex;
  justify-content: center;
}

.token-container {
  width: 60%;
  margin: auto;
  height: 10vh;
  word-wrap: break-word;
}

.token-text {
  color: #ECECD6;
  text-shadow: #000 0px 4px 15px;
}
